<p id="notice"><%= notice %></p>

<body style="background:#60AB88">
<font face="Arial" color="black">	
   <!--start logo-->
    <a href="#" id="logo"><%= image_tag 'dworldlogo1b.jpg'%></a>  

<p>
  <strong>Thank You for Contacting Dharma World Temple USA.</strong>
  
</p>

<p>
  <strong>Name:</strong>
  <%= @dworld.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dworld.email %>
</p>

<p>
  <strong>Question:</strong>
  <%= @dworld.question %>
</p>

<p>
  <strong>Datesend: Today</strong>
  <%= @dworld.datesend %>
</p>

<%#= link_to 'Edit', edit_dworld_path(@dworld) %> |
<%#= link_to 'Return Home', dworld_contact_path %>

    <li><a href="http://dharmaworldusa.x10.mx/index.html">Back To Dharma World Temple USA Website</a></li>
