<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dworld.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dworld.email %>
</p>

<p>
  <strong>Question:</strong>
  <%= @dworld.question %>
</p>

<p>
  <strong>Datesend: Today</strong>
  <%= @dworld.datesend %>
</p>

<%#= link_to 'Edit', edit_dworld_path(@dworld) %> |
<%#= link_to 'Return Home', dworld_contact_path %>

    <li><a href="http://dharmaworldusa.x10.mx/index.html">Back To Dharma World Temple USA Website</a></li>
