<!DOCTYPE html>
<html>
<head>
  <title>DharmaWorld Events</title>
  <%= stylesheet_link_tag    "news", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!--nivo slider script
  
   <script type="text/javascript" src="/assets/jquery-2.0.2.js"></script>
   <script type="text/javascript" src="/assets/jquery.nivo.slider.js"></script>
  
	-->
</head>
<body>

<!--start container-->
    <div id="container">

    <!--start header-->
    <header>
 
    <!--start logo-->
    <a href="#" id="logo"><%= image_tag 'dwlogo1a.png' %></a>    
	<!--end logo-->
	
   <!--start menu-->
	<nav>
    <ul>
    <li><a href="/dworld/home">Home</a></li>
    <li><a href="/dworld/about">About</a></li>
		<li><a href="/dworld/portfolio">Members</a></li>
    <li><a href="/dworld/news">News </a></li>
    <li><a href="/dworlds/new">Contact</a></li>

    </ul>
    </nav>
	<!--end menu-->
	
	<!--start nivo slider1 image-->
    <div id="wrapper">
         <div id="slider-wrapper">
            <div id="slider">
                <img src="/assets/T5buddhism.jpg" title="T5">
                <a href="http://www.google.com"><img src="/assets/T1blossom.jpg" title="Blossoming" ></a>
                <img src="/assets/T3reflections.jpg" title="T3">
                <img src="/assets/T4night.jpg" title="#htmlcaption" />
                <img src="/assets/T2chongsheng.jpg" title="T2">
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
            </div>
        </div>
     </div>

    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
    <!--end nivo slider-->
   
    <!--end header-->
	</header>

   <!--start holder-->
   <div class="holder_content1">
   
   <section class="group4">
   <h4>Latest Event 最新活动</h4>
   <%= image_tag 'icon3.png'%>

   <article>
   <h2>1.08.2014  -  Recent Event</h2>

   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
   Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.   </p>

   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
   Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero. 
   orem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
   Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero. 
   </p>
   </article> 
   
   </section>

   </div>
   <!--end holder-->
   
 
   
 </body>
 


    <!--start header of image slider 2-------------------------------------------------------------------------->
    <header>
 
   	<!--start nivo slider2 image----------------------->
    <div id="wrapper">
       <div id="slider-wrapper2">
            <div id="slider2">
                <img src="/assets/bm1.jpg" title="bm1">
                <a href="http://www.google.com"><img src="/assets/bm2.jpg" title="Little Monks" ></a>
                <img src="/assets/bm3.jpg" title="bm3">
                <img src="/assets/bm4.jpg" title="BM4" />
                <img src="/assets/bm5.jpg" title="bm5">
                <img src="/assets/bm6.jpg" title="bm6">
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>More</strong> Little <em>HTML</em> Monks <a href="#">a link</a>. 
            </div>
        </div>
     </div>

    <script type="text/javascript">
    $(window).load(function() {
        $('#slider2').nivoSlider();
    });
    
    </script>
    
    <!--end nivo slider------------------------------->
    
   
    <!--end header-->
	</header>

   <!--start holder2-->
   <div class="holder_content2">

   <section class="group5">
   <h4>Event 6/1/2013 活动</h4>
   <%= image_tag 'icon3.png'%>

   <article>
   <h2>1.08.2014  -  Recent Event</h2>

   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
   Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.   </p>

   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
   Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero. 
   </p>
   </article> 
   
   
   
   </section>

   </div>
   <!--end holder2----------------------------->
   
       <!--start header of image slider 3-------------------------------------------------------------------------->
    <header>
 
   	<!--start nivo slider3 image----------------------->
    <div id="wrapper">
       <div id="slider-wrapper3">
            <div id="slider3">
                <img src="/assets/toystory.jpg" title="toystory">
                <a href="http://www.google.com"><img src="/assets/up.jpg" title="This is an example of a caption" ></a>
                <img src="/assets/walle.jpg" title="walle">
                <img src="/assets/nemo.jpg" title="#htmlcaption" />
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
            </div>
        </div>
     </div>

    <script type="text/javascript">
    $(window).load(function() {
        $('#slider3').nivoSlider();
    });
    
    </script>
    
    <!--end nivo slider------------------------------->
    
   
    <!--end header-->
	</header>

   <!--start holder2-->
   <div class="holder_content3">

   <section class="group5">
   <h4>Event 2/1/2012 活动</h4>
   <%= image_tag 'icon3.png'%>

   <article>
   <h2>1.08.2014  -  Recent Event</h2>

   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
   Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.   </p>

   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
   Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero. 
   </p>
   </article> 
   
   
   
   </section>

   </div>
   <!--end holder2----------------------------->
   
   </div>
   <!--end container-------------------------------------------------------------------------------------------------------->

   
<!--start footer section------------------------------------------------------->
   <footer>
   <div class="container">
   <section class="footer_left">
   <h3>Contact information:
   <span>Dharma World Temple USA</span>
   <span>145-11 Bayside Avenue,</span>
   <span>Flushing, New York 11354</span>
   </h3>
   </section> 
   
   <section class="footer_left">
   <h3>Website:
   <span>www.dharmaworldus.org</span>
   <span></span>
   </h3>
   </section> 

   
   <aside class="footer_left">
   <h3>
   <span></span>
   <span></span>
   </h3>
   </aside> 
   <<%= image_tag 'm2a.png', size: '160x140'%>

    
   <div id="FooterTwo"> © Dharma World Temple USA </div>
   <div id="FooterTree"> Valid html5 / design and code by <a href="http://www.marijazaric.com">[KL] Hak.Aython</a> </div> 
   </div>
   </footer>
   <!--end footer-->
 <!-- Free template distributed by http://freehtml5templates.com -->  

<%= yield %>

</html>  
